body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
header {
  background-color: #3b453e;
  color: white;

  padding: 20px 0;
  text-align: center;
}
nav {
  display: flex;
  justify-content: center;
  background-color: #ada08a;
  padding: 10px 0;
}
nav a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}
section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
  color: #333;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}
.project,
.skill {
  margin-bottom: 20px;
}
.project h3,
.skill h3 {
  margin: 0;
  color: #555;
}
.project p,
.skill p {
  margin: 5px 0;
}
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #3b453e;
  color: #fff;
  margin-top: 20px;
}
